@import "tailwindcss";

@font-face {
  font-family: "Kranky";
  src: url("./fonts/Kranky/Kranky-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-lgray: #EEEEEE;
  --color-mgray: #D9D9D9;
  --image-placeholder: url("/placeholder.png");
}

:root {
  --font-kranky: "Kranky", sans-serif;
}

html {
  font-family: var(--font-kranky);
}

